body {
    background-color:#CEF6EC;
}

h1 {
    color:#ffffff;
    background-color:#002f5e;
    border-style: double;
}
    button
    {
     color:#ffffff;
    background-color:#002f5e;
    align:right;
    }

   
